# pixi environments
scripts/processing/pixi.lock
scripts/processing/.pixi/*
scripts/processing/.rattler/*
*.egg-info
.pixi/*


# data and output
data/*
trash/*
output/*

collabs/*

scripts/upload/*
scripts/analysis/*
pecotmr

.vscode/*
*.png

# core dump files
core.*

# large R data files
*.rds

# R subread temporary files
.Rsubread_UserProvidedAnnotation_pid*